.post-header {
  position: relative;
}
.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #1877f2;
}
.name {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}
.post-time-and-privacy {
  font-size: 12px;
  color: #65676b;
  margin-left: 10px;
}

.modify-post {
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.modify-post:hover {
  background-color: #e4e6eb;
  border-radius: 50%;
}
